.modalWidth {
  width: auto;
}
.airbnb {
  background-image: url("./../../../image/images.png"), linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  background-repeat: no-repeat;
  background-position: 55% 50%;
}